name: Cache Example

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: my-cache-folder
          key: cache-d59a55c

      - name: Create folder if not exists
        run: mkdir -p my-cache-folder

      - name: prime-cache-d59a55c
        run: |
          echo "Cache hit? -> $CACHE_HIT"
        env:
          CACHE_HIT: ${{ steps.cache.outputs.cache-hit }}
